@use '../../utils/variables' as v ;
@use '../../utils/utils.scss' as *;
.homeHeaderContainer {
  width: 100%;
  height: 20%;
  margin: auto auto;
  display: flex;
  justify-content: center;
  z-index: 2;
  @include respond(lg){
    width: 70vw;
    justify-content: space-between;
    align-items: center;
  }
}
title-container > .title {
  font-weight: 600;
}
.title-container > .subtitle {
  color: grey;
  font-weight: 400;
}

.nav-container {
  margin: 0;
  padding: 0;
  display: none;
  @include respond(lg) {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}
.nav-links {
  font-weight: 400;
  text-decoration: none;
  color: white;
  text-align: center;
}

.nav-links:visited {
  color: white;
}

@media (min-width: 1200px) {
  .title-container > .title {
    font-size: 24px;
  }
  .title-container > .subtitle {
    font-size: 24px;
  }
  .nav-links {
    font-size: 24px;
  }
}
