.homeHeaderContainer{
  width: 100%;
  display: flex;
}
title-container > .title {
  font-weight: 600;
}
.title-container > .subtitle {
  color: grey;
  font-weight: 400;
}


@media (min-width: 1200px) {
  .title-container > .title {
    font-size: 24px
  }
  .title-container > .subtitle {
    font-size: 24px;
  }
}


