.homeHeaderContainer{
  width: 80%;
  height:20%; 
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
title-container > .title {
  font-weight: 600;
}
.title-container > .subtitle {
  color: grey;
  font-weight: 400;
}

.nav-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; 
}
.nav-links {
  font-weight: 400;
  text-decoration: none;
  color: white;
  text-align: center;
}

.nav-links:visited{
  color:initial;
}

@media (min-width: 1200px) {
  .title-container > .title {
    font-size: 24px
  }
  .title-container > .subtitle {
    font-size: 24px;
  }
  .nav-links {
    font-size: 24px;
  }
}


