
.square {
  height: 1000px;
  width: 500px;
}
.square-lat {
  transform: rotate3d(0,1,0,-45deg) rotateX(60deg) rotateY(90deg) translate(50px, -300px); 
  stroke: red !important;
  
}
.square > * {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation-name: draw;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function:  cubic-bezier(0.8, 0.2, 0.2, 0.8);
  stroke: white;
}

@keyframes draw {
  to {
  stroke-dashoffset: 0;
}
}
