body{
    min-height: 100vh;
    height: 100%;
    overflow-y: visible;
    background-image: url("https://media.discordapp.net/attachments/809431489536065536/809436007333625867/cc4e012fc8d96cbe52d99dd863743823.jpg");
    background-size: 2700px 1500px;
}
.content{
    background: rgba(50 , 50 , 50 , 0.95);
    height: 100%;
    min-height: 95.8vh;
}



