@use '../../utils/utils.scss' as u;
@use '../../utils/variables'; 
.Layout {
  display:flex;
  flex-direction: column;
  justify-content: center;
.container{
  margin: 0 auto ;
  width: 90vw;
  display: flex;
  flex-direction: column; 
  @include u.respond(lg){
      width: 70vw;
  }
}
}
