.Layout{
 min-height: 100vh;
 padding: 10px 50px 10px; 
}
.Layout > .container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark{
  background: black;
  color: white;
}

.light {
  background: white;
  color: black;
}

