@use "../utils/utils.scss" as *;
.aboutWrap {
  padding: 50% 0 0 0;
  margin: 0 0 20rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .title{
    font-weight: 600;
    font-size: clamp(2rem, 3vw, 4rem);
    margin: 0 auto 5rem auto;
    height:50px;
  }
  @include respond(lg){
    min-height:100vh; 
    padding-top: 5rem;
    margin: 0;
  }
  p{
    width: 70%;
    text-align: center;
    line-height: 1.6;
    color: #fff;
    margin: 0 auto 1rem auto;
  }
}

.return > a > * {
  width: 50px;
}

.return > a {
  text-decoration: none;
  color: #fff;
}


.button {
    background:#222;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: 400;
    height: 50px;
  }
