@use '../../utils/utils.scss' as u; 
.hero {
  padding: 50% 0 0 0;
  margin: 0 0 20rem 0;
  .title{
    font-weight: 600;
    font-size: clamp(2rem, 3vw, 4rem);
  }
  @include u.grid(1);
  flex-grow: 3;
  @include u.respond(lg){
    min-height:100vh;
    @include u.grid(2);
    padding-top: 5rem;
    margin: 0;
  }
  .left{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    .bio{
      text-align: center;
    }
    @include u.respond(lg){
      margin-top: 4rem;
      height: 50vh;
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items: start;
      gap:2rem; 
      .bio{
        width: 50%;
        text-align: start;
      }
    }
  }
}

.buttons {
  display: flex;
  gap:1rem;
  .button {
    background:#222;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
}

.button:hover{
  background: #333; 
}

.icons {
    width: 2rem; 
    height: 2rem;
}

.wave {
    background: rgb(50 50 50 / 15%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.container{
    
    z-index: 1;
  }
