@use "./utils/utils.scss" as u;
@use "./utils/variables";
$m: 1rem;
body {
  margin: 0;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  line-height: 24px;
  font-family: var(--vp-font-family-base);
  font-size: clamp(1rem, 5vw, 1.2rem);
  font-weight: 400;
  color: var(--vp-c-text-1);
  background-color: var(--vp-c-bg);
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
body::before{
  content: ' ';
  
  width:100vw; 
  height: 100vh;
  position: fixed;
  top:0;
  background: rgba(0, 0, 0, 0.9);
  filter: blur(calc(0.8 * $m));
  z-index: 1;
}
#root {
  min-width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

