
body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    line-height: 24px;
    font-family: var(--vp-font-family-base);
    font-size: 16px;
    font-weight: 400;
    color: var(--vp-c-text-1);
    background-color: var(--vp-c-bg);
    font-synthesis: style;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {

  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.Layout >.container {
  min-height: 100vh;
  min-width:100%;
}

.hero {
  width:80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}
.left {
  width: 50%;
}
.left > .bio {
  width: 80%;
  text-align: left;
  text-wrap: wrap;
}
