@use './utils/utils.scss' as u; 
@use './utils/variables'; 

body {
  margin:0;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  line-height: 24px;
  font-family: var(--vp-font-family-base);
  font-size: clamp(1rem,5vw,1.2rem);
  font-weight: 400;
  color: var(--vp-c-text-1);
  background-color: var(--vp-c-bg);
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  min-width:100vw;
  background: black;
  z-index: 0;
}
